body,p,h1,h2,h3,h4,h5,h6,span{
    font-family: 'Roboto', sans-serif;
}
.header-nav a{
    padding-right: 1.5rem  !important;
}
.navbar-brand span {
    font-weight: 600;
    position: relative;
    left: 5px;
    top: 5px;
}
.default-bg{
    background-color: #f9f9ff;
}
.dropdown-menu {
    padding: 0;
    margin-top: 16px !important;
    border: none;
    width: 200px;
}

.dropdown-menu li a {
    padding: 12px 29px;
}
.wrapper-slider-text{
    margin-top: 130px;
}
.wrapper-slider-text h5{
    color: #666;
}
.wrapper-slider-text h1 {
    font-size: 44px;
    font-weight: 400;
    color: #555;
}
.wrapper-slider-text p {
    font-size: 16px;
    width: 90%;
}
.about-img-wdth {
    width: 47%;
    padding: 0;
}
.image-about-wrapper {
    width: 86%;
    margin: auto;
    height: 85%;
    margin-top: 35px;
}
.image-about-wrapper img {
    height: 100%;
}
.wrapper-about-text{}
.wrapper-about-text h5{}
.wrapper-about-text h1 {
    font-weight: 400;
    font-size: 42px;
}
.wrapper-about-text p {
    font-size: 16px;
    font-weight: 500;
}
.number-color{
    background-color: #8490ff;
    padding: 100px 0;
}
.default-title{}
.default-title h1 {
    font-size: 45px;
    font-weight: 400;
}
.default-title p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 12px;
}
/* economy-part */
.economy-part{
    padding-top: 25px;
    padding-bottom: 40px;
}
.economy-part h3 {
    width: 110px;
    height: 110px;
    margin: auto;
    text-align: center;
    line-height: 110px;
    border-radius: 50%;
    font-size: 33px;
    background-color: #f9f9ff;
}
.economy-part h2 {
    font-size: 23px;
    color: #444;
}
.economy-part h5 {
    font-size: 17px;
    color: #555;
    margin-bottom: 40px;
}
.economy-part h4{}
.economy-part a{}
.mrgn-gve {
    margin-top: 200px;
}
.image-four-wrapper {
    position: relative;
    padding: 50px 0;
}
.image-four-wrapper .image-mover {
    position: absolute;
    left: 13px;
    top: -56px;
    width: 35%;
    height: 100px;
}
.card {
    border: 1px solid transparent;
}
.pd-form {
    padding: 15px;
}
.form-right {
    margin-top: 75px;
    margin-left: 50px;
}

/* responsive */
@media(max-width:1040px){
    .image-about-wrapper img {
        max-width: 100%;
    }
}

@media(max-width:992px){
    .economy-part:nth-child(3){
        margin-top: 50px;
        margin-left: 50px;
    }
    .neww {
        margin-bottom: 15%;
    }
    .form-right {
        text-align: center;
    }
    .container, .container-md, .container-sm {
        max-width: 90%;
    }
    .me-cent {
        margin: auto;
    }
    .neww {
        /* width: 40%; */
        margin: auto;
        margin-bottom: 81px;
    }
}
@media(max-width:768px){
    .image-about-wrapper img {
        max-width: 130%;
    }
    .respon {
        text-align: center;
    }
    .about-img-wdth {
        margin: auto;
    }
    .wrapper-about-text h1 {
        font-size: 30px;
    }
    .wrapper-about-text p {
        font-size: 14px;
    }
    .economy-part {
        width: 90%;
        margin-bottom: 30px;
    }
    .resp {
        font-size: 17px !important;
    }
   
}